# Блок 3: SQL

### Задание 1: Абитуриенты
Есть таблица examination с двумя полями: id (id абитуриента), scores (кол-во набранных баллов дополнительного вступительного испытания от 0 до 100).
Требуется реализовать запрос, который создаёт колонку с позицией абитуриента в общем рейтинге.

In [ ]:
SELECT id, scores, DENSE_RANK() OVER (ORDER BY scores DESC) AS position
FROM examination

### Задание 2: FULL JOIN
Представьте две таблицы: первая содержит 30 строк, а вторая — 20 строк. Мы выполняем операцию FULL JOIN между ними.
Какой диапазон возможного количества строк может быть в результирующей таблице, если учесть, что ключи для соединения могут быть как полностью совпадающими, так и абсолютно уникальными?

Минимально 30 и максимально 50 строк

### Задание 3: Покупки
create table account  
(  
    id integer, -- ID счета  
    client_id integer, -- ID клиента  
    open_dt date, -- дата открытия счета  
    close_dt date -- дата закрытия счета  
)  
  
create table transaction  
(  
    id integer,  -- ID транзакции  
    account_id integer,  -- ID счета  
    transaction_date date,  -- дата транзакции  
    amount numeric(10,2), -- сумма транзакции  
    type varchar(3) -- тип транзакции  
)  
Вывести ID клиентов, которые за последний месяц по всем своим счетам совершили покупок меньше, чем на 5000 рублей.  
Без использования подзапросов и оконных функций.

In [ ]:
SELECT client_id
FROM account
LEFT JOIN transaction
ON account_id = id
AND transaction_date >= date_trunc('month', CURRENT_DATA) - INTERVAL '1 month'
AND transaction_date < date_trunc('month', CURRENT_DATA)
GROUP BY client_id
HAVING SUM(CASE WHEN type = 'BUY' THEN amount ELSE 0 END) < 5000;

варианты type из transaction не указан, беру тип 'BUY', чтобы исключить другие типы транзакций (возвраты, например)